.container {
    background: linear-gradient(#fbfbfb, #f3f4f6);
    border-top: 1px solid #e6e7ea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.logo {
    flex: 1;
}

.business-name {
    display: flex;
    flex-direction: column;
}

.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    font-weight: 600;
}

.year {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11pt;
    color: gray;
}

.links {
    display: flex;
    gap: 15px;
}

.links a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
}

.links a.active {
    font-weight: bold;
    text-decoration: underline;
}

.copyright {
    flex: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
    font-size: 11pt;
    color: gray;
}

@media (max-width: 1000px) {
    .container {
        flex-direction: column;
        /* align-items: flex-start; */
    }

    .logo {
        margin-top: 10px;
    }

    .title {
        font-size: 14pt;
    }

    .year {
        font-size: 12pt;
    }

    .links {
        margin-top: 10px;
    }
}