<div class="container">
    <div class="logo">
        <div class="business-name">
            <span class="title">Tristan Steele Detailing</span>
            <span class="year">2026</span>
        </div>
    </div>
    <div class="links">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <a routerLink="/services" routerLinkActive="active">Services</a>
        <a routerLink="/gallery" routerLinkActive="active">Gallery</a>
        <a routerLink="/about" routerLinkActive="active">About</a>
    </div>
    <div class="copyright">
        <p>&copy; 2026 Tristan Steele Detailing. All rights reserved.</p>
    </div>
</div>