.container {
    background: linear-gradient(#fbfbfb, #f3f4f6);
    border-top: 1px solid #e6e7ea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.business-name {
    display: flex;
    flex-direction: column;
}

.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    font-weight: 600;
}

.year {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11pt;
    color: gray;
}

.links {
    display: flex;
    gap: 15px;
}

.links a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
}

.links a.active {
    font-weight: bold;
    text-decoration: underline;
}

.copyright {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11pt;
    color: gray;
}