<div class="container">
    <div class="header">
        <h2>Our Services</h2>
        <p>Professional car detailing services to make your vehicle shine.</p>
    </div>
    <div class="services-container">
        <div class="service-card" *ngFor="let service of services" [id]="service.link">
            <img [src]="service.image" [alt]="service.title + ' image'">
            <div class="service-info">
                <div>
                    <p class="title">{{ service.title }}</p>
                    <p class="description">{{ service.description }}</p>
                </div>
                <div>
                    <p class="price">{{ service.price }}</p>
                    <button class="cta">Get My Quote</button>
                </div>
            </div>
        </div>
    </div>
</div>