<head>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=menu" />
</head>

<div class="mobileMenu" *ngIf="menuOpened">
    <div class="menuBlur" (click)="closeMenu()"></div>
    <div class="menuBox">
        <p class="exit" (click)="closeMenu()">x</p>
        <div class="menuOptions">
            <a class="menuOption top" routerLink="/" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }" (click)="closeMenu()">Home</a>
            <a class="menuOption" routerLink="/services" routerLinkActive="active" (click)="closeMenu()">Services</a>
            <a class="menuOption" routerLink="/gallery" routerLinkActive="active" (click)="closeMenu()">Gallery</a>
            <a class="menuOption" routerLink="/about" routerLinkActive="active" (click)="closeMenu()">About</a>
        </div>
        <button class="mobile-menu-cta-button" (click)="cta()">Get My Quote</button>
    </div>
</div>

<div class="container">
    <div class="logo-and-nav">
        <h1>Tristan Steele Detailing</h1>
        <div class="desktop-nav">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
            <a routerLink="/services" routerLinkActive="active">Services</a>
            <a routerLink="/gallery" routerLinkActive="active">Gallery</a>
            <a routerLink="/about" routerLinkActive="active">About</a>
        </div>
    </div>
    <button class="desktop-cta-button" (click)="cta()">Get My Quote</button>
    <!-- <button class="cta-button">Check Availability</button> -->

    <div class="mobile-nav-button">
        <button class="mobile-cta-button" (click)="cta()">Get My Quote</button>
        <span class="material-symbols-outlined" (click)="openMenu()">
            menu
        </span>
    </div>
</div>